.selection-panel {
    max-width: 1440px;
    width: 90%;
    margin: 40px auto 0;
    border-radius: 20px;
    border:1px solid rgb(58, 128, 58);
}

.selection-panel_disabled {
    opacity: 0.7;
    pointer-events: none;
}

.selection-panel__description {
    font-size: 24px;
    margin: 5px 10px;
}

.selection-panel__form {

}

.selection-panel__channels {
    all: unset;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: auto;
    row-gap: 10px;
    justify-content: space-around;
}

.selection-panel__channel {
    all: unset;
    border-radius: 5px;
    border: 2px green solid;
}

.selection-panel__checkbox {
    
}

.selection-panel__save-button {
    all:unset;
    margin: 40px auto 10px;
    cursor: pointer;
    background-color: rgb(20, 139, 90);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.selection-panel__save-button:hover {
    opacity: 0.7;
}

.selection-panel__save-button:disabled {
    background-color: rgb(197, 197, 197);
    cursor: default;
    opacity: 1;
    color: rgb(102, 102, 102);
}